.mainDiv{
    width: 60%;
    margin-top: 0;
    display: inline-block;
    text-align: left;
    min-height: 800px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 30px;
    
}
.col-lg-6 {

    
    width: 100%;

}




#edit{
	margin-top: 4%;
	margin-left: 4%;
	display: none;
	
	
}
#adminPanelModal{
    width: 80%;
    margin-left: 10%;
}
.container{
    background-color: white;
}


