<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YTdusan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>YTdusan.servlet.InitListener</listener-class>
  </listener>
  
 <servlet>
    <description></description>
    <display-name>GetVideosServlet</display-name>
    <servlet-name>GetVideosServlet</servlet-name>
    <servlet-class>YTdusan.servlet.GetVideosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVideosServlet</servlet-name>
    <url-pattern>/GetVideosServlet</url-pattern>
  </servlet-mapping> 
 <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>YTdusan.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>YTdusan.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>YTdusan.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>YTdusan.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GetMineVideos</display-name>
    <servlet-name>GetMineVideos</servlet-name>
    <servlet-class>YTdusan.servlet.GetMineVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMineVideos</servlet-name>
    <url-pattern>/GetMineVideos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ChangeUser</display-name>
    <servlet-name>ChangeUser</servlet-name>
    <servlet-class>YTdusan.servlet.ChangeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUser</servlet-name>
    <url-pattern>/ChangeUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WatchServlet</display-name>
    <servlet-name>WatchServlet</servlet-name>
    <servlet-class>YTdusan.servlet.WatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WatchServlet</servlet-name>
    <url-pattern>/WatchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>YTdusan.servlet.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>SubServlet</display-name>
    <servlet-name>SubServlet</servlet-name>
    <servlet-class>YTdusan.servlet.SubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubServlet</servlet-name>
    <url-pattern>/SubServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>CommentLikeDislikeServlet</display-name>
    <servlet-name>CommentLikeDislikeServlet</servlet-name>
    <servlet-class>YTdusan.servlet.CommentLikeDislikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentLikeDislikeServlet</servlet-name>
    <url-pattern>/CommentLikeDislikeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>YTdusan.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>UnSubServlet</display-name>
    <servlet-name>UnSubServlet</servlet-name>
    <servlet-class>YTdusan.servlet.UnSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnSubServlet</servlet-name>
    <url-pattern>/UnSubServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>LikeCommServlet</display-name>
    <servlet-name>LikeCommServlet</servlet-name>
    <servlet-class>YTdusan.servlet.LikeCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommServlet</servlet-name>
    <url-pattern>/LikeCommServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>YTdusan.servlet.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>getAllUsersServlet</display-name>
    <servlet-name>getAllUsersServlet</servlet-name>
    <servlet-class>YTdusan.servlet.getAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllUsersServlet</servlet-name>
    <url-pattern>/getAllUsersServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>YTdusan.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
 
<servlet>
    <description></description>
    <display-name>VideoSevlet</display-name>
    <servlet-name>VideoSevlet</servlet-name>
    <servlet-class>YTdusan.servlet.VideoSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoSevlet</servlet-name>
    <url-pattern>/VideoSevlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditVideoServlet</display-name>
    <servlet-name>EditVideoServlet</servlet-name>
    <servlet-class>YTdusan.servlet.EditVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVideoServlet</servlet-name>
    <url-pattern>/EditVideoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>SherSearchServlet</display-name>
    <servlet-name>SherSearchServlet</servlet-name>
    <servlet-class>YTdusan.servlet.SherSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SherSearchServlet</servlet-name>
    <url-pattern>/SherSearchServlet</url-pattern>
  </servlet-mapping>
  
</web-app>